.input_textarea{
    position: absolute;
    height: 540px;
    width: 1100px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244);
    animation: mover2 1s infinite  alternate;
}

.void_textarea{
    position: absolute;
    height: 540px;
    width: 1100px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244); 
}

.div_textarea{
    position: absolute;
    height: 540px;
    width: 1100px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244);
}

.p_filenName{
    color: rgb(2, 2, 2);
    position: relative;
    width: 650px;
    left: 220px;
    margin-top: 160px;
    background-color: rgba(255, 255, 255, 0.138);
    text-align: center;
    padding: 30px 1px 30px 1px;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.input_textarea::placeholder{
    color: rgba(255, 255, 255, 0.355);
}


.input_textarea:focus{
    outline: none !important;
    animation: none;
}

.void_textarea:focus{
    outline: none !important;
    animation: none;
}

.input_textarea:focus::placeholder{
    color: transparent;
}

.div_buttons{
    position: absolute;
    margin-top: 640px;
    margin-left: -30%;
    /* margin-left: 600px; */
}

.label_file{
    background: #b56ae036;
    cursor: pointer;
    font-weight: 420;
    padding: 12px 12px;
    border-radius: 10px;
    border: #a87cff5b solid;
    color: rgba(244, 243, 243, 0.777);
    font-size: large;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
    transition: 0.3s;
}

.label_file:hover{
    font-weight: 600;
    background: #633ab395;   
}

.input_file{
    color: transparent;
    display: none;
}

.input_file::-webkit-file-upload-button{
    visibility: hidden;
}

.button_simplify{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: #d2d2d2 solid;
    font-size: large;
    color: whitesmoke;
    margin-right: 3px;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_simplify:hover{
    cursor: pointer;
    background-color: #d2d2d2 ;
    color: black;
    transition: 0.6s;
}

.button_summarize{
    position: absolute;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: #ca28a1 solid;
    border-radius: 10px;
    font-size: large;
    color: whitesmoke;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_summarize:hover{
    cursor: pointer;
    background-color: #ca28a1;
    transition: 0.6s;
}

.icon_upload{
    font-weight: 420;
    position: relative;
    top: 6px;
    right: 2px;
}

.icon_file{
    position: relative;
    top: 3px;
    right: 5px;
}

.icon_delete{
    color: black;
    position: relative;
    top: 3px;
    left: 500px;
    transition: 0.3s;
}

.icon_delete:hover{
    color: white;
    cursor: pointer;
    /* background-color: #f2d9ff5d; */
}

.icon_delete:hover + p.tooltiptext{
    display: inline-block;
    visibility: visible;
}

.tooltiptext{
  visibility: hidden;
  width: 70px;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 1px 1px;
  position: absolute;
  z-index: 1;
  margin-left: 375px;
  margin-top: 40px;
}
