.input_textarea{
    position: absolute;
    height: 510px;
    width: 1100px;
    margin-top: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244);
    animation: mover2 1s infinite  alternate;
}

.void_textarea{
    position: absolute;
    height: 510px;
    width: 1100px;
    margin-top: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244); 
}

.div_textarea{
    position: absolute;
    height: 510px;
    width: 1100px;
    margin-top: -30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgba(255, 192, 203, 0.244);
}

.p_filenName{
    color: white;
    position: relative;
    width: 650px;
    left: 220px;
    margin-top: 160px;
    background-color: rgba(255, 255, 255, 0.138);
    text-align: center;
    padding: 30px 1px 30px 1px;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.input_textarea::placeholder{
    color: rgba(255, 255, 255, 0.355);
}


.input_textarea:focus{
    outline: none !important;
    animation: none;
}

.void_textarea:focus{
    outline: none !important;
    animation: none;
}

.input_textarea:focus::placeholder{
    color: transparent;
}

.div_buttons{
    position: absolute;
    margin-top: 640px;
    margin-left: -30%;
    /* margin-left: 600px; */
}

.div_methods{
    position: absolute;
    margin-top: 640px;
    margin-left: 38%;
    background: #b56ae036;
    border: #a87cff5b solid;
    color: rgba(244, 243, 243, 0.777);
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
}

.div_compression{
    position: relative;
}

.input_button1{
    position: relative;
}

.input_button2{
    position: relative;
}

.label_file{
    background: #b56ae036;
    cursor: pointer;
    font-weight: 420;
    padding: 12px 12px;
    border-radius: 10px;
    border: #a87cff5b solid;
    color: rgba(244, 243, 243, 0.777);
    font-size: large;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
    transition: 0.3s;
}

.label_file:hover{
    font-weight: 600;
    background: #633ab395;   
}

.input_file{
    color: transparent;
    display: none;
}

.input_file::-webkit-file-upload-button{
    visibility: hidden;
}

.button_simplify{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: #d2d2d2 solid;
    font-size: large;
    color: whitesmoke;
    margin-right: 3px;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_simplify:hover{
    cursor: pointer;
    background-color: #d2d2d2 ;
    color: black;
    transition: 0.6s;
}

.button_simplify_colored{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: #d2d2d2 ;
    border: #d2d2d2 solid;
    font-size: large;
    color: black;
    margin-right: 3px;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_summarize{
    position: absolute;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: #ca28a1 solid;
    border-radius: 10px;
    font-size: large;
    color: whitesmoke;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_summarize:hover{
    cursor: pointer;
    background-color: #ca28a1;
    transition: 0.6s;
}

.button_summarize_colored{
    position: absolute;
    margin-left: 10px;
    width: 120px;
    height: 50px;
    background-color: #ca28a1;
    border: #ca28a1 solid;
    border-radius: 10px;
    font-size: large;
    color: whitesmoke;
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
}

.button_go{
    position: absolute;
    margin-left: 10px;
    width: 90px;
    height: 40px;
    /* background-color: rgba(245, 245, 245, 0.7);  */
    border: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    /* color: #f70088; */
    font-family: 'Poppins' , Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: -650px;
    margin-left: 950px;
    transition: 0.3s;
    background: linear-gradient(to bottom left, #a46fc3, #c86cab, #dfcee3);
}

.button_go:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
    font-weight: 700;
}

.icon_write{
    position: relative;
    top: 3px;
    left: 3px; 
    font-weight: 700;
}

.icon_upload{
    font-weight: 420;
    position: relative;
    top: 6px;
    right: 2px;
}

.icon_file{
    position: relative;
    top: 3px;
    right: 5px;
}

.icon_delete{
    color: rgba(255, 255, 255, 0.688);
    position: relative;
    top: 3px;
    left: 500px;
    transition: 0.3s;
}

.icon_delete:hover{
    color: white;
    cursor: pointer;
    /* background-color: #f2d9ff5d; */
}

.icon_delete:hover + p.tooltiptext{
    display: inline-block;
    visibility: visible;
}

.tooltiptext{
  visibility: hidden;
  width: 70px;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 1px 1px;
  position: absolute;
  z-index: 1;
  margin-left: 375px;
  margin-top: 40px;
}

.input_range{
    -webkit-appearance: none;
    height: 1em;
    background-color: #ca28a1;
    border-radius: 5px;
    background-image: linear-gradient(purple, purple);
    background-repeat: no-repeat;
}

.input_range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid black;
    transition: background 0.3s ease-in-out;
}

.input_range[type='range']::-webkit-slider-thumb:hover {
    box-shadow: #a020f050 0px 0px 0px 7px;
}

.input_range[type='range']::-webkit-slider-thumb:active {
    box-shadow: #a020f050 0px 0px 0px 10px;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}





